h1.title{text-transform: capitalize}

/*error summary*/
div.errorSummary p {
  background: url("../images/exclamation.png") no-repeat scroll 8px 50% #FFD1D1;
  border-bottom: 1px solid #F8ACAC;
  border-top: 1px solid #F8ACAC;
  height: 25px;
  margin: 10px 0;
  padding-left: 30px;
  padding-top: 10px;
}
div.errorSummary ul{background: none repeat scroll 0 0 #FFF1F1}
div.errorSummary ul {
  background: none repeat scroll 0 0 #FFF1F1;
  border-bottom: 1px solid #FDDCDC;
  line-height: 20px;
  margin-top: -10px;
  padding-left: 40px;
  padding-top: 10px;
  color: #664B4B
}
div.errorMessage{color: red; margin-left: 6px}

div#advance_rang_name{border: 1px solid #CCC; margin: 10px 0px; padding: 10px; }

/*Hover link*/
div#example_paginate a:hover{}

/*tfoot*/
tfoot tr th{background:  transparent !important}

/*td note font*/
td.note-font{font-size: 2em; font-weight: bold}

/* align td*/
.ta-justify{vertical-align: middle; text-align: center !Important;  font-size: 2.0em;}

td.bold{font-weight: bold}
td.tahoma-font{font-family: Tahoma}

/* display*/
.hide{display: none}

/* Labels
---------------------------------------------------------------------*/

span.label {
	background:url("../images/tag-bg.gif") no-repeat scroll 100% 50% transparent;
	font:bold 10px/1.2 "tahoma",sans-serif;
	padding:4px 16px 5px 5px;
	text-transform:uppercase;
	color:#fff;
}
span.label-red {
	background-color:#df0000;
}
span.label-green {
	background-color:#4BA508;
}
span.label-blue {
	background-color:#0085CC;
}
span.label-purple {
	background-color:#6E0A9E;
}
span.label-gray {
	background-color:#555;
}
span.label-gold {
	background-color:#b90;
}
span.label-silver {
	background-color:#ccc;
}
span.label-yellow {
	background-color:#FFC806;
}
span.label-black {
	background-color: #111;
}
